.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'MTD-Kiramba';
  font-size: 10rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 12.5rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 3rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 7rem;
    font-size: calc( 4.1499999999999995rem + (10 - 4.1499999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (4.1499999999999995rem + (10 - 4.1499999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #edefeb !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #edefeb !important;
  border-color: #edefeb !important;
  color: #6e7a61 !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #6e7a61 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #edefeb;
  color: #edefeb;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #c2c8bb !important;
  background-color: transparent !important;
  border-color: #c2c8bb !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #6e7a61 !important;
  background-color: #edefeb !important;
  border-color: #edefeb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff80cc !important;
  background-color: transparent !important;
  border-color: #ff80cc !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #edefeb !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #bac2b2 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #edefeb;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #edefeb;
  border-color: #edefeb;
  color: #7a886d;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #edefeb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #edefeb !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #edefeb;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #edefeb;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #edefeb;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #edefeb;
  border-bottom-color: #edefeb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #edefeb !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23edefeb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tQuakXTl33 {
  display: flex;
  background-image: url("../../../assets/images/at7i0232-5-2000x1333.jpeg");
}
.cid-tQuakXTl33 .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
.cid-tQuakXTl33 .content-wrap {
  padding: 5rem 1rem;
  max-width: 800px;
}
@media (min-width: 768px) {
  .cid-tQuakXTl33 {
    align-items: center;
  }
  .cid-tQuakXTl33 .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tQuakXTl33 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tQuakXTl33 {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tQuakXTl33 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tQuakXTl33 .content-wrap {
    width: 100%;
  }
}
.cid-tQuakXTl33 .mbr-section-title {
  text-align: center;
}
.cid-tQuakXTl33 .mbr-text,
.cid-tQuakXTl33 .mbr-section-btn {
  text-align: center;
}
.cid-tQuaAmit1m {
  background-color: #232323;
}
.cid-tQuaAmit1m .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQuaAmit1m .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQuaAmit1m .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #edefeb;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
.cid-tQuaAmit1m .number-wrap {
  color: #9fe870;
  text-align: center;
}
.cid-tQuaAmit1m .number {
  color: #9fe870;
}
.cid-tQuaAmit1m .period {
  display: block;
}
.cid-tQuaAmit1m .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-tQuaAmit1m .period {
    font-size: 0.8rem;
  }
}
.cid-tQuaAmit1m .btn {
  height: 100%;
  margin: 0;
}
.cid-tQuaAmit1m .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tQuaAmit1m .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-tQuaAmit1m .icons-menu .soc-item a:hover .mbr-iconfont,
.cid-tQuaAmit1m .icons-menu .soc-item a:focus .mbr-iconfont {
  background-color: #9fe870;
}
.cid-tQuaAmit1m .icons-menu .soc-item a .mbr-iconfont {
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #163300;
  background-color: #f7f7f7;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-tQuaAmit1m .icons-menu .soc-item a .mbr-iconfont:before {
  padding: 1.1rem;
}
@media (max-width: 767px) {
  .cid-tQuaAmit1m .icons-menu .soc-item a .mbr-iconfont:before {
    padding: 1.2rem;
  }
}
.cid-tQuaAmit1m H3 {
  color: #edefeb;
}
.cid-tQuaAmit1m .mbr-text,
.cid-tQuaAmit1m .mbr-section-btn {
  color: #edefeb;
}
.cid-tQuaAmit1m .mbr-section-subtitle {
  color: #edefeb;
}
.cid-tQvEK3R8Oa {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tQvEK3R8Oa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQvEK3R8Oa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQuoqMqPgu {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tQuoqMqPgu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQuoqMqPgu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQuoqMqPgu .item:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tQuoqMqPgu .item-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-tQuoqMqPgu .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tQuoqMqPgu .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tQuoqMqPgu .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tQuoqMqPgu .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tQuoqMqPgu .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tQuoqMqPgu .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tQuoqMqPgu .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tQuoqMqPgu .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tQvFsvxrpe {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-tQuarg4nqG {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #163300;
}
.cid-tQuarg4nqG .mbr-media {
  position: relative;
}
.cid-tQuarg4nqG .mbr-media img {
  width: 100%;
  object-fit: cover;
}
.cid-tQuarg4nqG a:hover {
  background-image: none !important;
}
.cid-tQuarg4nqG .icon-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.cid-tQuarg4nqG .mbr-media span {
  font-size: 5rem;
  transition: all 0.2s;
}
.cid-tQuarg4nqG .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-tQuarg4nqG .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-tQuarg4nqG .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-tQuarg4nqG .close {
  position: fixed;
  opacity: 0.5;
  font-size: 1.5rem;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tQuarg4nqG .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tQuarg4nqG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQuarg4nqG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQuarg4nqG .content-head {
  max-width: 800px;
}
.cid-tQuarg4nqG .mbr-section-title {
  color: #edefeb;
}
.cid-tQvDLQJ4xE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tQvDLQJ4xE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQvDLQJ4xE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQvDLQJ4xE .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-tQvDLQJ4xE .timeline-element {
  position: relative;
}
.cid-tQvDLQJ4xE .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tQvDLQJ4xE .iconBackground {
  position: absolute;
  left: 33.33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #232323;
  top: 30px;
  margin-left: -9px;
  padding: 0;
}
.cid-tQvDLQJ4xE .separline:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #232323;
  left: 33.33%;
  height: calc(100% + 30px);
}
@media (max-width: 767px) {
  .cid-tQvDLQJ4xE .iconBackground {
    left: 15px !important;
  }
  .cid-tQvDLQJ4xE .separline:before {
    left: 15px !important;
  }
}
.cid-tQvDLQJ4xE .mbr-section-title,
.cid-tQvDLQJ4xE .mbr-section-subtitle {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tQvDLQJ4xE .time-line-date-content {
    margin-left: 1rem;
  }
  .cid-tQvDLQJ4xE .time-line-date-content .mbr-timeline-date {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-tQvDLQJ4xE .time-line-date-content {
    margin-right: 1rem;
  }
  .cid-tQvDLQJ4xE .time-line-date-content .mbr-timeline-date {
    text-align: right;
  }
}
.cid-tQvDLQJ4xE .timeline-text-content {
  margin-left: 2rem;
}
.cid-tQvDLQJ4xE .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-tQvDLQJ4xE .mbr-timeline-date {
  text-align: right;
}
.cid-tQvJrmKqgu {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #edefeb;
}
.cid-tQvJrmKqgu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQvJrmKqgu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQvJrmKqgu .team-card {
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.cid-tQvJrmKqgu .team-card:hover {
  transform: translateY(-10px);
}
.cid-tQvJrmKqgu .content-head {
  max-width: 800px;
}
.cid-tQvJrmKqgu .card1 {
  background: #ffd7ef;
}
.cid-tQvJrmKqgu .card2 {
  background: #260a30;
}
.cid-tQvJrmKqgu .card3 {
  background: #a0e2e1;
}
.cid-tQvJrmKqgu .card4 {
  background: #2e481a;
}
.cid-tQvJrmKqgu .image-wrap {
  padding-bottom: 0rem;
  position: relative;
}
.cid-tQvJrmKqgu .image-wrap .social-row {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
.cid-tQvJrmKqgu .card-wrap {
  margin-bottom: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .cid-tQvJrmKqgu .card-wrap {
    margin-bottom: 1rem;
  }
}
.cid-tQvJrmKqgu .card-wrap .image-wrap img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tQvJrmKqgu .card-wrap .content-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tQvJrmKqgu .card-wrap .content-wrap .content-footer {
  margin-top: auto;
}
@media (min-width: 768px) {
  .cid-tQvJrmKqgu .card-wrap .content-wrap {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-tQvJrmKqgu .card-wrap .content-wrap {
    padding: 1.5rem;
  }
}
.cid-tQvJrmKqgu .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 1.5rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}
.cid-tQvJrmKqgu .tag1 {
  background: #ffd7ef;
  color: #502274;
}
.cid-tQvJrmKqgu .tag2 {
  background: #260a30;
  color: #ffd7ef;
}
.cid-tQvJrmKqgu .tag3 {
  background: #a0e2e1;
  color: #232323;
}
.cid-tQvJrmKqgu .tag4 {
  background: #2e481a;
  color: #ffffff;
}
.cid-tQvJrmKqgu .card-text3,
.cid-tQvJrmKqgu .mbr-section-btn {
  color: #232323;
}
.cid-tQvJrmKqgu .card-text2,
.cid-tQvJrmKqgu .mbr-section-btn {
  color: #ffd7ef;
}
.cid-tQvJrmKqgu .card-text1,
.cid-tQvJrmKqgu .mbr-section-btn {
  color: #502274;
}
.cid-tQvJrmKqgu .card-title2,
.cid-tQvJrmKqgu .social-row {
  color: #ffd7ef;
}
.cid-tQvJrmKqgu .mbr-role3,
.cid-tQvJrmKqgu .social-row {
  color: #ffffff;
}
.cid-tQvJrmKqgu .card-title3,
.cid-tQvJrmKqgu .social-row {
  color: #232323;
}
.cid-tQvJrmKqgu .card-title4,
.cid-tQvJrmKqgu .social-row {
  color: #ffffff;
}
.cid-tQvJrmKqgu .mbr-role3 {
  color: #232323;
}
.cid-tQvJrmKqgu .mbr-role2 {
  color: #ffd7ef;
}
.cid-tQvJrmKqgu .mbr-role4 {
  color: #ffffff;
}
.cid-tQvJrmKqgu .card-text4,
.cid-tQvJrmKqgu .mbr-section-btn {
  color: #ffffff;
}
.cid-tQuapQbEwf {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tQuapQbEwf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQuapQbEwf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQuapQbEwf .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tQuapQbEwf .item {
    margin-bottom: 1rem;
  }
}
.cid-tQuapQbEwf .item-wrapper {
  position: relative;
}
.cid-tQuapQbEwf .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  color: #464845 !important;
  transform: translateX(-50%) translateY(-50%);
  background-color: #edefea !important;
  transition: 0.2s;
}
.cid-tQuapQbEwf .item-wrapper:hover .icon-wrapper {
  opacity: 1;
}
.cid-tQuapQbEwf .carousel-control,
.cid-tQuapQbEwf .close {
  background: #1b1b1b;
}
.cid-tQuapQbEwf .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tQuapQbEwf .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tQuapQbEwf .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tQuapQbEwf .carousel-control-next span {
  margin-left: 5px;
}
.cid-tQuapQbEwf .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tQuapQbEwf .close::before {
  content: '\e91a';
}
.cid-tQuapQbEwf .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tQuapQbEwf .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tQuapQbEwf .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tQuapQbEwf .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tQuapQbEwf .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tQuapQbEwf .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tQuapQbEwf .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tQuapQbEwf .carousel-indicators li.active,
.cid-tQuapQbEwf .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tQuapQbEwf .carousel-indicators li::after,
.cid-tQuapQbEwf .carousel-indicators li::before {
  content: none;
}
.cid-tQuapQbEwf .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tQuapQbEwf .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tQuapQbEwf .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tQuapQbEwf .carousel-indicators {
    display: none;
  }
}
.cid-tQuapQbEwf .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tQuapQbEwf .carousel-inner > .active {
  display: block;
}
.cid-tQuapQbEwf .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tQuapQbEwf .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tQuapQbEwf .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tQuapQbEwf .carousel-control,
  .cid-tQuapQbEwf .carousel-indicators,
  .cid-tQuapQbEwf .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tQuapQbEwf .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tQuapQbEwf .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tQuapQbEwf .carousel-indicators .active,
.cid-tQuapQbEwf .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tQuapQbEwf .carousel-indicators .active {
  background: #fff;
}
.cid-tQuapQbEwf .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tQuapQbEwf .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tQuapQbEwf .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tQuapQbEwf .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tQuapQbEwf .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tQuapQbEwf .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tQuapQbEwf .carousel {
  width: 100%;
}
.cid-tQuapQbEwf .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tQuapQbEwf .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tQuapQbEwf .modal.fade .modal-dialog,
.cid-tQuapQbEwf .modal.in .modal-dialog {
  transform: none;
}
.cid-tQuapQbEwf .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tQuapQbEwf .content-head {
  max-width: 800px;
}
.cid-tQuapQbEwf H3 {
  color: #edefeb;
}
.cid-tQvdmuUrgP {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #232323;
}
.cid-tQvdmuUrgP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQvdmuUrgP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQvdmuUrgP .mbr-section-title {
  color: #ffffff;
}
.cid-tQuKQbl2Dc {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #163300;
}
.cid-tQuKQbl2Dc .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tQuKQbl2Dc form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tQuKQbl2Dc form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tQuKQbl2Dc form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-tQuKQbl2Dc .content-head {
  max-width: 800px;
}
.cid-tQuKQbl2Dc .mbr-section-title {
  color: #edefeb;
}
.cid-tQvL4s4uZl {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tQvL4s4uZl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQvL4s4uZl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQuOd2NaOx {
  background-color: #ffffff;
}
.cid-tQuOd2NaOx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQuOd2NaOx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQuOd2NaOx .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
.cid-tQuOd2NaOx .text-wrapper {
  padding: 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tQuOd2NaOx .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-tQuOd2NaOx .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-tQuOd2NaOx .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-tQuOd2NaOx .row {
  flex-direction: row-reverse;
}
.cid-tQuOd2NaOx .image-wrapper {
  padding: 0 1rem;
}
.cid-tQuOd2NaOx img,
.cid-tQuOd2NaOx .image-wrapper {
  height: 500px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tQuOd2NaOx img,
  .cid-tQuOd2NaOx .image-wrapper {
    max-height: 350px;
  }
}
.cid-tQuOd2NaOx .mbr-section-title {
  color: #000000;
}
.cid-tQuOd2NaOx .mbr-text {
  color: #000000;
}
.cid-tQuOdjpk4v {
  background-color: #ffffff;
}
.cid-tQuOdjpk4v .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQuOdjpk4v .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQuOdjpk4v .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
.cid-tQuOdjpk4v .text-wrapper {
  padding: 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tQuOdjpk4v .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-tQuOdjpk4v .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-tQuOdjpk4v .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-tQuOdjpk4v .image-wrapper {
  padding: 0 1rem;
}
.cid-tQuOdjpk4v img,
.cid-tQuOdjpk4v .image-wrapper {
  height: 500px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tQuOdjpk4v img,
  .cid-tQuOdjpk4v .image-wrapper {
    max-height: 350px;
  }
}
.cid-tQuOdjpk4v .mbr-section-title {
  color: #000000;
}
.cid-tQuOdjpk4v .mbr-text {
  color: #000000;
}
.cid-tQuOdjpk4v .mbr-text,
.cid-tQuOdjpk4v .mbr-section-btn {
  text-align: left;
}
.cid-tQuQSC0Tuu {
  display: flex;
  background-image: url("../../../assets/images/at7i0660-2-3648x5472.jpeg");
}
.cid-tQuQSC0Tuu .mbr-overlay {
  background-color: #232323;
  opacity: 0.5;
}
.cid-tQuQSC0Tuu .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 768px) {
  .cid-tQuQSC0Tuu {
    align-items: center;
  }
  .cid-tQuQSC0Tuu .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tQuQSC0Tuu .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tQuQSC0Tuu {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tQuQSC0Tuu .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tQuQSC0Tuu .content-wrap {
    width: 100%;
  }
}
.cid-tQuQSC0Tuu .mbr-section-title {
  text-align: center;
}
.cid-tQuQSC0Tuu .mbr-text,
.cid-tQuQSC0Tuu .mbr-section-btn {
  text-align: center;
}
.cid-tQvhIGLS3U {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
.cid-c6e4lrpEJb {
  padding-top: 45px;
  padding-bottom: 30px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-c6e4lrpEJb .contenair {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}
.cid-c6e4lrpEJb .green-audio-player {
  width: 493px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 38px;
  user-select: none;
  background-color: #ff3366;
  box-sizing: border-box;
  outline: none;
}
@media (max-width: 900px) {
  .cid-c6e4lrpEJb .green-audio-player {
    width: 300px;
  }
}
.cid-c6e4lrpEJb .green-audio-player.player-accessible .play-pause-btn:hover,
.cid-c6e4lrpEJb .green-audio-player.player-accessible .controls:hover,
.cid-c6e4lrpEJb .green-audio-player.player-accessible .volume__button:hover,
.cid-c6e4lrpEJb .green-audio-player.player-accessible .volume__controls:hover,
.cid-c6e4lrpEJb .green-audio-player.player-accessible .download:hover {
  outline: dotted 1px #999;
}
.cid-c6e4lrpEJb .green-audio-player svg,
.cid-c6e4lrpEJb .green-audio-player img {
  display: block;
}
.cid-c6e4lrpEJb .green-audio-player .holder {
  position: relative;
}
.cid-c6e4lrpEJb .green-audio-player .holder .loading .loading__spinner {
  position: absolute;
  left: -3px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  border: 2px solid #b0b0b0;
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 0.4s linear infinite;
}
.cid-c6e4lrpEJb .green-audio-player .holder .play-pause-btn {
  visibility: hidden;
  cursor: pointer;
  outline: none;
  fill: #ffffff;
}
.cid-c6e4lrpEJb .green-audio-player .holder .play-pause-btn:focus {
  outline: none;
}
.cid-c6e4lrpEJb .green-audio-player .slider {
  flex-grow: 1;
  background-color: #000000;
  cursor: pointer;
  position: relative;
}
.cid-c6e4lrpEJb .green-audio-player .slider .gap-progress {
  background-color: #fe732f;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}
.cid-c6e4lrpEJb .green-audio-player .slider .gap-progress .pin {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #e4d295;
  position: absolute;
  pointer-events: all;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.32);
}
.cid-c6e4lrpEJb .green-audio-player .slider .gap-progress .pin::after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0);
  width: 200%;
  height: 200%;
  margin-left: -50%;
  margin-top: -50%;
  border-radius: 50%;
}
.cid-c6e4lrpEJb .green-audio-player .controls {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  outline: none;
}
.cid-c6e4lrpEJb .green-audio-player .controls .controls__slider {
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 2px;
  height: 4px;
}
.cid-c6e4lrpEJb .green-audio-player .controls .controls__slider .controls__progress {
  width: 0;
  height: 100%;
}
.cid-c6e4lrpEJb .green-audio-player .controls .controls__slider .controls__progress .progress__pin {
  right: -8px;
  top: -6px;
}
.cid-c6e4lrpEJb .green-audio-player .controls span {
  cursor: default;
}
.cid-c6e4lrpEJb .green-audio-player .controls:focus {
  outline: none;
}
.cid-c6e4lrpEJb .green-audio-player .volume {
  position: relative;
}
.cid-c6e4lrpEJb .green-audio-player .volume_test {
  height: 24px;
  width: 24px;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__button {
  cursor: pointer;
  outline: none;
  fill: #ffffff;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__button:focus {
  outline: none;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__button.open path {
  fill: #000000;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls {
  width: 30px;
  height: 135px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 2;
  outline: none;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls .volume__slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls .volume__slider .volume__progress {
  bottom: 0;
  height: 100%;
  width: 6px;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
  left: -5px;
  top: -8px;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls:focus {
  outline: none;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls.hidden {
  display: none;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls.top {
  bottom: 52px;
  left: -3px;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls.middle {
  bottom: -54px;
  left: 54px;
}
.cid-c6e4lrpEJb .green-audio-player .volume .volume__controls.bottom {
  bottom: -164px;
  left: -3px;
}
.cid-c6e4lrpEJb .green-audio-player .download__link {
  fill: #ffffff;
}
.cid-c6e4lrpEJb .green-audio-player .download {
  display: none;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
  fill: #ffffff;
}
.cid-c6e4lrpEJb .green-audio-player .download:focus {
  outline: none;
}
.cid-c6e4lrpEJb .green-audio-player:focus {
  outline: none;
}
.cid-c6e4lrpEJb .message__offscreen {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}
.cid-c6e4lrpEJb .hidden {
  display: none;
}
